<!DOCTYPE html>

<html html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
  <h1>Home Page</h1>

  <button (click)="goToProductDetail()">Temp Product Detail</button>
</body>
  <main>
    <aside class="categories">
      <button>Meat</button>
      <button>Fruit</button>
      <button>Vegetables</button>
      <button>Dairy</button>
    </aside>

    <section class="product-list">
    </section>
  </main>

  <footer>
    <div class="featured-products">
      <button>Featured Products</button>
    </div>
    <div class="deals">
      <button>Deals</button>
    </div>
  </footer>
</html>
