<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <div class="navbar">
    <button class="logo-button">
      <img src="https://github.com/TysonVeik/FumbleFoods/blob/20de85af88aaae03aabf024c31ef9f437276221a/FumbleFoods.webp?raw=true" height="80">
    </button>
      <div class="spacer"></div>
      <input type="text" placeholder="Search..." class="search-box">
      <div class="spacer"></div>
      <button class="nav-btn">Register/<br>Login</button>
      <button class="nav-btn">Cart</button>
  </div>
    <div class="login-container">
      <h2>Login</h2>
      <form class="login-form">
        <div class="form-control">
          <input type="text" id="username" placeholder="Email Address/ Username">
        </div>
        <div class="form-control">
          <input type="password" id="password" placeholder="Password">
        </div>
        <div class="button-container">
          <button type="submit">Sign in</button>
          <button type="submit">Do not have an account? Create one</button>
        </div>
      </form>
    </div>
</body>
</html>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
