

<header>
  <div class="logo">
    <button>
      <img src=".png" alt="Company Logo">
    </button>
  </div>
  <div class="location">
    <button>
    </button>
  </div>
  <div class="search">
    <input type="text" placeholder="Search...">
    <button type="button">
      Product List
      <icon>search</icon>
    </button>
  </div>
  <div class="login">
    <button "/login"> Login</button>
  </div>
  <div class="cart">
    <button type="button">
      <img>shopping_cart</img>
    </button>
  </div>
</header>

<main>
  <aside class="categories">
    <button >Meat</button>
    <button >Fruit</button>
    <button >Vegetables</button>
    <button >Dairy</button>
  </aside>

  <section class="product-list">
  </section>
</main>

<footer>
  <div class="featured-products">
    <button="/product-list">Featured Products</button>
  </div>
  <div class="deals">
    <button "/product-list">Deals</button>
  </div>
</footer>
